In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
A=pd.read_csv('housing.csv',index_col=0)
A.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
A.corr()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
crim,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
zn,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
indus,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
chas,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
nox,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
rm,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
age,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
dis,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
rad,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
tax,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
ptratio,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
black,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
lstat,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
medv,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

In [4]:
#sns.pairplot(A,diag_kind='kde')

In [5]:
A.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [6]:
A.shape

(506, 14)

In [7]:
m1=smf.ols('medv~crim+zn+indus+chas+nox+rm+age+dis+rad+tax+ptratio+black+lstat',A).fit()

In [8]:
m1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   medv   R-squared:                       0.741
Model:                            OLS   Adj. R-squared:                  0.734
Method:                 Least Squares   F-statistic:                     108.1
Date:                Thu, 09 May 2019   Prob (F-statistic):          6.72e-135
Time:                        18:16:22   Log-Likelihood:                -1498.8
No. Observations:                 506   AIC:                             3026.
Df Residuals:                     492   BIC:                             3085.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     36.4595      5.103      7.144      0.000      26.432      46.487
crim          -0.1080      0.033     -3.287      0.001      -0.173      -0.043
zn             0.0464      0.014      3.382      0.001       0.019       0.073
indus          0.0206      0.061      0.334      0.738      -0.100       0.141
chas           2.6867      0.862      3.118      0.002       0.994       4.380
nox          -17.7666      3.820     -4.651      0.000     -25.272     -10.262
rm             3.8099      0.418      9.116      0.000       2.989       4.631
age            0.0007      0.013      0.052      0.958      -0.025       0.027
dis           -1.4756      0.199     -7.398      0.000      -1.867      -1.084
rad            0.3060      0.066      4.613      0.000       0.176       0.436
tax           -0.0123      0.004     -3.280      0.001      -0.020      -0.005
ptratio       -0.9527      0.131     -7.283      0.000      -1.210      -0.696
black          0.0093      0.003      3.467      0.001       0.004       0.015
lstat         -0.5248      0.051    -10.347      0.000      -0.624      -0.425
==============================================================================
Omnibus:                      178.041   Durbin-Watson:                   1.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              783.126
Skew:                           1.521   Prob(JB):                    8.84e-171
Kurtosis:                       8.281   Cond. No.                     1.51e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.51e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [9]:
# here in summary we have seen that age and indus variable have high p value so we drop them.

In [10]:
m1=smf.ols('medv~crim+zn+chas+nox+rm+dis+rad+tax+ptratio+black+lstat',A).fit()

In [11]:
m1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   medv   R-squared:                       0.741
Model:                            OLS   Adj. R-squared:                  0.735
Method:                 Least Squares   F-statistic:                     128.2
Date:                Thu, 09 May 2019   Prob (F-statistic):          5.54e-137
Time:                        18:16:22   Log-Likelihood:                -1498.9
No. Observations:                 506   AIC:                             3022.
Df Residuals:                     494   BIC:                             3072.
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     36.3411      5.067      7.171      0.000      26.385      46.298
crim          -0.1084      0.033     -3.307      0.001      -0.173      -0.044
zn             0.0458      0.014      3.390      0.001       0.019       0.072
chas           2.7187      0.854      3.183      0.002       1.040       4.397
nox          -17.3760      3.535     -4.915      0.000     -24.322     -10.430
rm             3.8016      0.406      9.356      0.000       3.003       4.600
dis           -1.4927      0.186     -8.037      0.000      -1.858      -1.128
rad            0.2996      0.063      4.726      0.000       0.175       0.424
tax           -0.0118      0.003     -3.493      0.001      -0.018      -0.005
ptratio       -0.9465      0.129     -7.334      0.000      -1.200      -0.693
black          0.0093      0.003      3.475      0.001       0.004       0.015
lstat         -0.5226      0.047    -11.019      0.000      -0.616      -0.429
==============================================================================
Omnibus:                      178.430   Durbin-Watson:                   1.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              787.785
Skew:                           1.523   Prob(JB):                    8.60e-172
Kurtosis:                       8.300   Cond. No.                     1.47e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.47e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [12]:
# now we will scikit learn method to predict.

In [13]:
x = A.drop(['medv','indus','age'],axis=1)
y = A['medv']

In [14]:
x.head()

      crim    zn  chas    nox     rm     dis  rad  tax  ptratio   black  lstat
1  0.00632  18.0     0  0.538  6.575  4.0900    1  296     15.3  396.90   4.98
2  0.02731   0.0     0  0.469  6.421  4.9671    2  242     17.8  396.90   9.14
3  0.02729   0.0     0  0.469  7.185  4.9671    2  242     17.8  392.83   4.03
4  0.03237   0.0     0  0.458  6.998  6.0622    3  222     18.7  394.63   2.94
5  0.06905   0.0     0  0.458  7.147  6.0622    3  222     18.7  396.90   5.33

In [15]:
y.head()

1    24.0
2    21.6
3    34.7
4    33.4
5    36.2
Name: medv, dtype: float64

In [16]:
# Split X and y into training and test set in 75:25 ratio

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [17]:
X_train.shape, y_train.shape

((354, 11), (354,))

In [18]:
X_test.shape, y_test.shape

((152, 11), (152,))

In [19]:
regression_model = LinearRegression()

In [20]:
regression_model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
regression_model.coef_

array([-9.99785810e-02,  5.84504966e-02,  2.49237586e+00, -2.02026206e+01,
        2.79303294e+00, -1.56729883e+00,  2.87329431e-01, -9.64123510e-03,
       -9.87738832e-01,  6.38710132e-03, -5.59735671e-01])

In [22]:
y_pred = regression_model.predict(X_test)

In [23]:
#y_pred

In [24]:
regression_model.intercept_

45.95090394426156

In [25]:
rmse=np.sqrt(np.mean((y_test-y_pred)**2))
rmse
# rmse using train test split model.

4.434376625000647

In [26]:
regression_model.score(X_test,y_test)
## R_sq value

0.785458446453236

In [27]:
from sklearn.preprocessing import PolynomialFeatures

In [28]:
xtrain = X_train[['lstat']]

In [29]:
# now we will do it by another model. using quadratic equation. and in the end we will compare the rmse scores of both.

In [30]:
# QUADRATIC RGRESSION MODEL:
quad = PolynomialFeatures(degree=5)
x_quad = quad.fit_transform(xtrain)

In [31]:
x_quad_df = pd.DataFrame(x_quad)
x_quad_df.head()
# here we in this dataframe we have made quadratic equation of column 'lstat', column 0 is lstat to the power o, 
# column 1 is lstat to the power 1, column 2 is lstat to the power 2 and column 3 is lstat to the power 3.

     0      1         2            3              4             5
0  1.0   8.26   68.2276   563.559976    4655.005402  3.845034e+04
1  1.0  14.44  208.5136  3010.936384   43477.921385  6.278212e+05
2  1.0  21.24  451.1376  9582.162624  203525.134134  4.322874e+06
3  1.0   4.32   18.6624    80.621568     348.285174  1.504592e+03
4  1.0   7.12   50.6944   360.944128    2569.922191  1.829785e+04

In [32]:
x_quad_df=x_quad_df.drop(0,axis=1)

In [33]:
x_quad_df.head()

       1         2            3              4             5
0   8.26   68.2276   563.559976    4655.005402  3.845034e+04
1  14.44  208.5136  3010.936384   43477.921385  6.278212e+05
2  21.24  451.1376  9582.162624  203525.134134  4.322874e+06
3   4.32   18.6624    80.621568     348.285174  1.504592e+03
4   7.12   50.6944   360.944128    2569.922191  1.829785e+04

In [34]:
idx=np.arange(xtrain.shape[0])

In [35]:
y_train.index=idx

In [36]:
x_quad_df=pd.concat([x_quad_df,y_train],axis=1)

In [37]:
x_quad_df.columns=['f1','f2','f3','f4','f5','medv']

In [38]:
x_quad_df.head()

      f1        f2           f3             f4            f5  medv
0   8.26   68.2276   563.559976    4655.005402  3.845034e+04  20.4
1  14.44  208.5136  3010.936384   43477.921385  6.278212e+05  16.0
2  21.24  451.1376  9582.162624  203525.134134  4.322874e+06  13.3
3   4.32   18.6624    80.621568     348.285174  1.504592e+03  30.8
4   7.12   50.6944   360.944128    2569.922191  1.829785e+04  27.5

In [39]:
# above, xtrain index starts from 0 and y_train index starts from 1, so after concatinating at 0 index we have nan in
# 0 index in y_train. to resolve this we are changing the y_train index.
# so, we will do this step of changing step before concatinating otherwise we will concatinate twice.

In [40]:
ols_model=smf.ols('medv~f1+f2+f3+f4+f5',x_quad_df).fit()

In [41]:
ols_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   medv   R-squared:                       0.699
Model:                            OLS   Adj. R-squared:                  0.695
Method:                 Least Squares   F-statistic:                     161.6
Date:                Thu, 09 May 2019   Prob (F-statistic):           1.92e-88
Time:                        18:16:23   Log-Likelihood:                -1068.0
No. Observations:                 354   AIC:                             2148.
Df Residuals:                     348   BIC:                             2171.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     71.2134      4.406     16.164      0.000      62.548      79.879
f1           -13.2534      1.836     -7.220      0.000     -16.864      -9.643
f2             1.4212      0.264      5.393      0.000       0.903       1.940
f3            -0.0757      0.017     -4.531      0.000      -0.109      -0.043
f4             0.0019      0.000      3.961      0.000       0.001       0.003
f5         -1.771e-05   5.02e-06     -3.529      0.000   -2.76e-05   -7.84e-06
==============================================================================
Omnibus:                      114.758   Durbin-Watson:                   1.880
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              496.951
Skew:                           1.333   Prob(JB):                    1.23e-108
Kurtosis:                       8.156   Cond. No.                     1.64e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.64e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [42]:
# so above we have checked the polynomial degree value from 2 to 5. and at degree 5 we have the best results. above 5 
# the p value is not passing the test.

In [43]:
x=x_quad_df[['f1','f2','f3','f4','f5']]
pr=LinearRegression()
pr.fit(x,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [44]:
# now above we have fit the data into model. so now e want the rmse value and for that we need y_pred. for y pred we 
# need y_test. we will convert the y_test just like we did with y_train because in y_test we only need 'lsat'.

In [45]:
xtest = X_test[['lstat']]

In [46]:
x_test_new = quad.fit_transform(xtest)

In [47]:
x_test_new_df = pd.DataFrame(x_test_new)

In [48]:
x_test_new_df.head()

     0      1         2            3              4             5
0  1.0   7.53   56.7009   426.957777    3214.992061  2.420889e+04
1  1.0   7.18   51.5524   370.146232    2657.649946  1.908193e+04
2  1.0  18.80  353.4400  6644.672000  124919.833600  2.348493e+06
3  1.0   8.10   65.6100   531.441000    4304.672100  3.486784e+04
4  1.0  10.19  103.8361  1058.089859   10781.935663  1.098679e+05

In [49]:
x_test_new_df=x_test_new_df.drop(0,axis=1)

In [50]:
x_test_new_df.head()

       1         2            3              4             5
0   7.53   56.7009   426.957777    3214.992061  2.420889e+04
1   7.18   51.5524   370.146232    2657.649946  1.908193e+04
2  18.80  353.4400  6644.672000  124919.833600  2.348493e+06
3   8.10   65.6100   531.441000    4304.672100  3.486784e+04
4  10.19  103.8361  1058.089859   10781.935663  1.098679e+05

In [51]:
pr_predict = pr.predict(x_test_new_df)

In [52]:
pr_predict

array([25.3263864 , 25.98557395, 16.1329319 , 24.39605855, 22.07898292,
       21.38936213, 33.33835479, 20.21449071, 16.86412953, 23.44551176,
       24.96418321, 33.71836178, 19.87958681, 22.03826124, 21.00075944,
       20.75033044, 12.5900566 , 33.63308542, 25.50741964, 11.40116074,
       21.13958244, 17.86126141, 22.9196253 , 28.47958314, 33.46395937,
       11.91959684, 14.8242976 , 21.81115465, 25.82848129, 14.39679608,
       30.38929097, 16.41829631, 43.14957062, 18.01769465, 23.12349986,
       19.89143953, 16.96979557, 30.93357733, 12.52537597, 19.03185784,
       25.67526611, 26.90035362, 25.20299486, 12.07270747, 16.77417796,
       12.92944735, 50.49530864, 18.08393605, 22.40550494, 21.73615655,
       21.03826187, 21.32222919, 31.35874963, 21.40292131, 11.44664939,
       26.94594118, 11.54177975, 28.87349044, 19.23123005, 36.81395314,
       19.00575205, 27.41760486, 15.18069744, 17.09080596, 11.40707194,
       31.98686214, 46.07590834, 23.6420348 , 21.91111717, 21.05081982,
       28.39731526, 11.13838969, 19.64612314, 20.84090368, 19.5915108 ,
       21.89554967, 42.61289559, 24.20608999, 25.58143484, 38.92063858,
       18.75994222, 21.99002792, 30.72648528, 12.57053524, 28.87349044,
       32.25453444, 15.70049705, 31.8362975 , 19.58542351, 17.62567045,
       29.90169283, 31.6874516 , 16.7413505 , 20.57183839, 19.32590948,
       20.07992461, 22.53413126, 24.30742559, 35.86476888, 20.23785763,
       18.55470407, 16.09073208, 29.37458377, 26.65459816, 11.86124152,
       20.62507979, 17.47083755, 30.35611128, 20.15019041, 25.08227983,
       41.31809001, 23.1790577 , 13.85049592, 27.5648472 , 24.88139979,
       43.21742276, 22.46921718, 21.01947903, 49.98412961, 25.48906017,
       22.26418562, 16.20875268, 32.76603309, 19.53045744, 22.68722905,
       20.28458318, 23.73106376, 23.13454617, 19.21852045, 31.07366058,
       19.55492738, 21.94246447, 28.23500152, 11.38732978, 25.90653715,
       26.50251144, 11.13878029, 15.95536378, 25.27317282, 17.43179442,
       30.12656137, 16.41829631, 16.25079277, 27.84191032, 40.26863343,
       23.04707499, 25.94593221, 14.01126636, 27.1311302 , 16.8559722 ,
       22.60984036, 15.2147548 ])

In [53]:
from sklearn import metrics
pr_rmse=np.sqrt(np.mean((y_test-pr_predict)**2))
pr_rmse

5.731016037935088

In [54]:
# now its the third model in which we will be checking the rmse score.
# medv = B0 + B1_lstat + B2_rm + B3_ptratio

In [64]:
B=pd.read_csv('housing.csv',index_col=0)
B.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [65]:
B.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [80]:
x2 = B.drop(['medv','crim','zn','indus','chas', 'nox','age', 'dis', 'rad', 'tax','black'],axis=1)
y2 = B['medv']

In [81]:
# Split X and y into training and test set in 75:25 ratio

X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(x2, y2, test_size=0.3, random_state=1)

In [82]:
regression_model_2 = LinearRegression()

In [83]:
regression_model_2.fit(X_train_2,y_train_2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [84]:
y_pred_2 = regression_model_2.predict(X_test_2)

In [85]:
rmse=np.sqrt(np.mean((y_test_2-y_pred_2)**2))
rmse

5.03993148883832

In [86]:
regression_model_2.intercept_

25.373484464182294

In [87]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [88]:
x3 = B.drop(['medv','indus','age'],axis=1)
y3 = B['medv']

In [89]:
rd=Ridge(alpha=0.05,normalize=True)
Ls=Lasso(alpha=0.05,normalize=True)

In [91]:
rd.fit(x3,y3)
rd_pred=rd.predict(x3)
Ls.fit(x3,y3)
Ls_pred=Ls.predict(x3)

In [93]:
from sklearn.metrics import mean_squared_error
rd_rmse=np.sqrt(mean_squared_error(y3,rd_pred))
rd_rmse

4.710084727387394

In [94]:
Ls_rmse=np.sqrt(mean_squared_error(y3,Ls_pred))
Ls_rmse

5.387257055599379